*{padding:0;margin:0}
.box{
    padding:20px;
    border: 5px solid black;
    background-color: lightgray; 
    width:80%;
    margin-left: 160px;

       
}
.box1{
    padding:31px;
    
     /* border: 2px solid black;  */
    text-align: center;
}
.box2{
    /* padding:20px; */
    /* border:2px solid red; */
    display:flex
}
.maxx1{
    display: flex;
     border:2px solid black; 
    width:15%
}
.maxx2{
    /* display: flex; */
    /* border:2px solid blue; */
    width:85%
}
.m1{
    /* border: 1px solid black; */
    width:100% ;
    height:131px ;
    display:flex
}
.fn{

    width:50%;
    margin-left: 107px;
}
.father{
    width:42%;
    margin-left: 104px;
}


input{
    width:75%; 
    height:50px;
    margin: 10px 0;  
}
.box3{
      /* border: 2px solid black;   */
    padding:20px;
     display:flex; 
}
    .maxx3{
        display:flex;
        flex-direction: column;
        width:82%;
        margin-left:302PX;
    }

.gender{
    display: flex;
    margin-left: 111px;
    margin-top: 36px;
}
.gender span{
    font-size: 28px;
    margin-right: 38px;
}
.gender input{
    width: 24px;
    height: 17px;  
}
/* .gender label{ */
    /* margin-left: 30PX; */
/* } */
    .box4{
         display:flex;
        width:100%;
            
    }
    img{
        width:100%;
        height:262px
    }
    .maxx4{
        display:flex;
        width:50%;
        flex-direction: column;
        margin-left: 322px;
        
    }
    .box5{
        display:flex;
        width: 100%;
         /* border: 2px solid black;/  */
    }
    .maxx5{
        display:flex;
        width: 50%;
        margin-left: 319px;
        flex-direction: column;
    }
    
    .box6{
        display:flex;
        width:100%;
        /* border: 2px solid black;  */
    }
    .maxx6{
        display: flex;
        width:79%;
        
        flex-direction: column;
        margin-left: 316px;
    }
    .box7{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:80px;
        text-align: center;
        /* border:2px solid black; */

    }
    .box8{
        display: flex;
        /* border: 2px solid black; */
        
    }
    .maxx7{
        display: flex;
        width:33%;
        flex-direction: column;
        margin-left: 110px;
    }

    .box9{
        display: flex;
        /* border: 2px solid black; */
        
    }
    .maxx8{
        display: flex;
        width:33%;
        flex-direction: column;
        margin-left: 110px;
    } 
    .box10{
        display: flex;
        /* border: 2px solid black; */
        
    }
    .maxx9{
        display: flex;
        width:33%;
        flex-direction: column;
        margin-left: 110px;
    }
    .box11{
        display: flex;
        /* border: 2px solid black; */
        justify-content: center;
        align-items: center;
        height:81px;
    }
    .box12{
        display: flex;
        /* border: 2px solid black; */
        
    }
    .maxx10{
        display: flex;
        width:33%;
        flex-direction: column;
        margin-left: 110px;

    }  
     .box13{
        display: flex;
        
        
    }
    .maxx11{
        display: flex;
        width:33%;
        flex-direction: column;
        margin-left: 110px;
    } */



