*{
    margin:0;
    padding:0;
    box-sizing:border_box;
    background-color:#ecf0f3;
    font-family:sans-serif;
    outline:none;
}
.box{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    background-image: linear-gradient(to right,white, grey);
}
.calculator{
    background-color:grey;
    padding:15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                        5px 5px 12px black;
    display: grid;
    grid-template-columns: repeat(4,90px);
    height: 460px;

}
input{
    grid-column:span 4 ;
    height:32px;
    text-align: end;
    color:black;
    font-size: 35px;
    padding:20px;
    border:2.5px solid black;
    background-color: #ecf0f3;
    box-shadow: inset-5px -5px 12px #ffffff,
            inset 5px 5px 12px rgba(0,0,0,.16);
    border-radius: 20px;
    margin-bottom:10px;
    margin-left:5px;
}
button{
    height:45px;
    width:65px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    margin:12px;

}
button:hover{
    transform: scale(1.2);
}
.equal{
    width:152px
}

