*{
    padding: 0;
    margin:0

}

.box{
    height:100vx;
    border:7px solid black
}
.box1{


border:3px solid red;
display:flex;
justify-content: center;
height:68px;
position:fixed;
width:100%;
/* z-index: 3; */
top: 0;
}
.maxx1{
    
    width:70%;
    border:3px solid green;
    display: flex;
    height:62px;
    
}
img{
    /* position: relative; */
    height:646px;
    width:100%;
    top: 101px;
    z-index:-1;
     
}
h1{
    /* position:absolute; */
    left: 706px;
    top: 125px;
    font-size:xx-large;
    /* margin: 10px; */
    
}
.box2{
    /* display:flex; */
    border:3px solid blue;

}
.maxx2{
    display: flex;;
    position: absolute;
    width: 821px;
    height: 110px;
    left: 507px;
    top:230px;
    border-radius: 30px;
    background-color:white;
    
}