*{margin:0;padding:0}
.box1{ 
    padding:20px;
    background-color: violet;
    text-align:center;
    border: 3px solid white;
}
nav{
    padding:20px;
    background-color:violet;
    border:3px solid white;
    text-align:center;
}
.box3{
    padding:70px;
    background-color :violet;
    border:3px solid white;
    text-align:center
}
.box4{
    padding:70px 0px;
    width:32.6%;
    border:5px solid white;
    text-align:center;
    background-color: violet;
    display: inline-block;
}
.box5{
    padding:20px;
    border:3px solid white;;
    background-color: violet;
    text-align:center;
}